<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>
    Resize the browser window to see that this page is responsive by the way.
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://cdn.pixabay.com/photo/2016/05/03/16/10/morning-1369446__340.jpg"
        alt="Jane"
        style="width: 100%"
      />
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633__340.jpg"
        alt="Mike"
        style="width: 100%"
      />
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-733872.jpg&fm=jpg"
        alt="John"
        style="width: 100%"
      />
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
